article.post {
  .music-embed {
      margin:0 0 10px;
  }
}
section.article-body {
  .author-item {
    float: left;
  }
  &.home-page {
    .author-item {
      height: 80px;
    }
  }
}

.single-post {
  section#content {
    max-height: ~'calc(100vh - 200px)';
    height: 100%;
    @media @768 {
      max-height: 100%;
    }
  }
  #inner-content,
  article {
    height: 100%;
  }
}

.continue {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    .quantico(300);
}

.scrolling-container {
    overflow-y: scroll;
    padding-left: 20px;
    width: ~'calc(100% - 310px)';
    display: inline-block;
    vertical-align: top;
    height: 100%;
    @media @768 {
      width: 100%;
      display: block;
      overflow-y: visible;
      max-width: 700px;
      padding: 0;
    }
}

.music-links {
  margin-bottom: 20px;
  h2 {
    font-weight: 600;
  }
  a {
    font-size: 14px
  }
  h2, a {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    vertical-align: middle;
  }
  @media @768 {
    ul li {
      display: inline-block;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.album-art {
  width: 30%;
  float: left;
  @media @768 {
    width: 100%;
    display: block;
    float: none;
    max-width: 700px;
  }
  img {
    width: 100%;
    margin-bottom: 10px;
  }
  header.article-header {
    h1,
    .category-name {
      text-align: left;
    }
  }
}

.contributors {
  position: relative;
  .from-contribs {
    margin: 35px 0 15px;
    font-size: 14px;
    display: block;
    font-style: italic;
    color: #777;
    .quantico(300);
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      background: #dedede;
      left: 95px;
      width: ~'calc(100% - 100px)';
      top: 9px;
    }
  }
  > div {
      display: inline-block;
      width: 50%;
      float: left;
      @media @500 {
        width: 100%;
        display: block;
        float: none;
      }
      .author-item {
        text-align: right;
        .author-name {
          margin-top: 5px;
          font-size: 12px;
        }
      }
      &.contrib-one {
        padding-right: 20px;
        @media @500 {
          padding: 0;
          margin-bottom: 20px;
        }
      }
      &.contrib-two {
        padding-left: 20px;
        @media @500 {
          padding: 0;
        }
      }
  }
}