article.post {
  .music-embed {
      margin:0 0 25px;
  }
}
section.article-body {
  .author-item {
    float: left;
  }
  &.home-page {
    .author-item {
      height: 80px;
    }
  }
}

.continue {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    .quantico(300);
    a {

    }
}

.scrolling-container {
    overflow-y: scroll;
    height: 100%;
    max-width: 600px;
    float: right;
    padding-left: 30px;
    padding-right: 10px;
    width: 70%;
    @media @768 {
      width: 100%;
      display: block;
      overflow-y: visible;
      max-width: 700px;
      padding: 0;
    }
}

.album-art {
  width: 30%;
  float: left;
  @media @768 {
    width: 100%;
    display: block;
    float: none;
    max-width: 700px;
  }
  img {
    width: 100%;
    margin-bottom: 10px;
  }
  header.article-header {
    h1,
    .category-name {
      text-align: left;
    }
  }
}

.contributors {
  position: relative;
  .from-contribs {
    margin: 35px 0 15px;
    font-size: 14px;
    display: block;
    font-style: italic;
    color: #777;
    .quantico(300);
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      background: #dedede;
      left: 95px;
      width: ~'calc(100% - 100px)';
      top: 9px;
    }
  }
  > div {
      display: inline-block;
      width: 50%;
      float: left;
      @media @500 {
        width: 100%;
        display: block;
        float: none;
      }
      .author-item {
        text-align: right;
        .author-name {
          margin-top: 5px;
          font-size: 12px;
        }
      }
      &.contrib-one {
        padding-right: 20px;
        @media @500 {
          padding: 0;
          margin-bottom: 20px;
        }
      }
      &.contrib-two {
        padding-left: 20px;
        @media @500 {
          padding: 0;
        }
      }
  }
}