.helvetica(@weight) {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: @weight;
}

.quantico(@weight) {
  font-family: 'Poppins', sans-serif; 
  font-weight: @weight;
}