.home {
	section#content {
		#inner-content {
			article.home-article {
				padding-bottom: 35px;
				margin-bottom: 35px;
				&:after {
					content:"";
					color: #0071BC;
					display: block;
					letter-spacing: 10px;
					font-size: 10px;
					opacity: 0.5;
					margin: 0 auto;
					width: 110px;
					text-align: center;
				}
				section.article-body {
					padding: 0 15px;
				}
			}
		}
	}
}